* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
	line-height: 22px;
}

.caja {
	background: #0353a4;
	width: 200px;
	/*height: 200px;*/
	margin: 20px;
	padding: 20px;
	border: 10px solid #000;
	/* Son lo mismo:

	margin: 20px 10px 5px 0px;
	
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 0px;
	margin-bottom: 5px;*/
}

.caja p {
	background: #eee5e9;
}