<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/main.css">
	<title>Layout básica</title>
</head>
<body>
	
	<div class="contenedor">
		<header>
			<nav>
				<ul>
					<li><a href="">Inicio</a></li>
					<li><a href="">Acerca de</a></li>
					<li><a href="">Productos</a></li>
					<li><a href="">Contacto</a></li>
				</ul>
			</nav>
		</header>

		<section class="main">
			<div class="imagen">
				<img src="img/bg.jpg" alt="">
			</div>
			<section class="posts">
				<article>
					<h2>Título del artículo</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam reiciendis quae doloremque cupiditate quis accusantium, atque voluptate commodi enim facere explicabo culpa saepe pariatur omnis excepturi, aliquam ex dicta unde distinctio debitis minus. Eum pariatur quod tempore ut at animi odit adipisci, natus ratione dignissimos ad, minima delectus praesentium omnis non eos architecto, enim. Voluptatum ea ad quibusdam aut magni.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum deserunt, asperiores necessitatibus facilis dolorem cumque. Praesentium, placeat et explicabo dolorum iure sed velit maxime, nostrum tenetur ea inventore doloremque expedita excepturi atque non eos assumenda quas nobis voluptate perspiciatis nemo. Debitis quasi molestiae quas quisquam, dignissimos laboriosam ducimus ex numquam a, nemo vero facilis tenetur recusandae. Itaque sed ea cumque.</p>
				</article>
			</section>
		</section>

		<aside>
			<div class="widget">
				<h3 class="titulo">Artículos destacados</h3>
				<ul>
					<li><a href="">Lorem ipsum dolor sit amet.</a></li>
					<li><a href="">Lorem ipsum dolor sit amet.</a></li>
					<li><a href="">Lorem ipsum dolor sit amet.</a></li>
					<li><a href="">Lorem ipsum dolor sit amet.</a></li>
					<li><a href="">Lorem ipsum dolor sit amet.</a></li>
				</ul>
			</div>

			<div class="widget">
				<h3 class="titulo">Información</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt aspernatur totam provident quibusdam. In dolorem, at odio, culpa nihil assumenda eaque autem quibusdam, velit, repellendus officiis ducimus non sit illum.</p>
			</div>
		</aside>

		<footer>
			<p>Pablo Sebastián Pazos 2017 - Todos los derechos reservados</p>
		</footer>
	</div>
</body>
</html>